.navbar{
  background-color:rgb(233, 143, 143);
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-brand{
  font-weight: 500;
  color: #033ba3;
  font-size: 24px;
  transition: 0.3s color;
}
.hidden-paragraph {
  display: none;
  font-size: 10px;
}

.hover-image:hover +.hidden-paragraph {
  display: block;
}
.login-button{
  background: #033ba3;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover{
  color: #033ba3;
}

.navbar-toggler{
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link{
  color: #666777;
  font-weight: 500;
  position: relative;
}

.navbar-toggler:ho
ver, .btn-close:hover{
  color: #000;
}

@media (min-wdith: 991px)
{
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #009970;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.navbar-toggler:hover::before, .btn-close:hover::before{
  width: 100%;
  visibility: visible;
}
}

.hero-section{
  background: url(Naoto.gif) no-repeat center;
  background-size: cover;
  width: 100%;
}

.hero-section::before{
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .container{
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section h1{
  font-size: 1.5em;
}